body {
    background-color: #003300;
}

canvas {
    margin: 0;
    position: absolute;
    border: 8px solid #333300;
    width: 75%;
    height: 75%;
    margin-left: 12.5%;
    margin-top: 6.25%;
}
/* I couldn't get flexboxes to work so I did this thing I found online. It's weird, but it works. 
 * If you can't tell by looking (I know I can't), it centers both vertically and horizontally.
 */
